APP_ENV=development
EXPO_PUBLIC_API_BASE_URL=https://api-ask-sport-dev.dedicateddevelopers.us
EXPO_PUBLIC_MEDIA_BASE_URL=https://api-ask-sport-dev.dedicateddevelopers.us
EXPO_PUBLIC_EAS_PROJECT_ID=
EXPO_PUBLIC_ENABLE_EXAMPLE_FEATURE=false
EXPO_PUBLIC_LOG_LEVEL=debug
